* {
	margin: auto;
}

html {
    background-image: url("❀.webp");
    background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
}
h1 {
    text-align: center;
    background-color: rgb(255, 184, 209);
    font-family: Times, Times New Roman, serif;
    border: 2px dotted blue;
    padding: 10px, 15px, 10px, 15px;
	height: 90px;
    width: 250px;
	margin-top: 20px;
    margin-bottom: 20px;
}
p {
    background-color: hsla(290, 65.8%, 86.4%,90%);
    text-align: justify;
    font-family: Georgia, serif;
    padding: 20px;
    border: 3px solid black;
    border-top-style: double;
    border-right-style: dotted;
    border-left-style: dashed;
    border-bottom-style:solid;
    width: 500px;
}
span {    
	font-family: Didot, serif;
	font-style: bold, italic;
    text-align: center;
    color: rgb(94, 22, 145);
    margin-left: 2px;
    margin-right: 5px;
}