* {
	margin: auto;
}
html {
    background-image: url("src/beach.webp");
    background-repeat: no-repeat;
    background-size: cover;
	background-size: 100%;
}
h1 {
    text-align: center;
    background-color: rgb(255, 184, 209);
    font-family: Times, Times New Roman, serif;
    border: 2px dotted blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
	margin-top: 20px;
    margin-bottom: 20px;
}
p {
    background-color: hsla(290, 65.8%, 86.4%,90%);
    text-align: justify;
    font-style: italic;
    padding: 20px;
    border: 3px black;
    border-top-style: dashed;
    border-right-style: dotted;
    border-left-style: double;
    border-bottom-style: solid;
    width: 500px;
}
span {
    font-style: bold, italic;
    text-align: center;
    color: rgb(94, 22, 145);
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
