/* Style the header with a grey background and some padding */
.header {
  font-family: Times, Times New Roman, serif;
  font-style: italic;
  overflow: hidden;
  padding: 20px 10px;
  position: sticky;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 35px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: dodgerblue;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

* {
	margin: auto;
}

html {
    background-image: url("bg - Copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

h1 {
	color: #FFF;
	text-transform: uppercase;
    text-align: center;
    font-family: Times, Times New Roman, serif;
    width: auto;
	margin-top: 10px;
    margin-bottom: 10px;
}

p {
	color: #e3e3e3;
	font-size: 20px;
	font-family: Times, Times New Roman, serif;
    text-align: center;
	margin-top: 30px;
    margin-bottom: 40px;
	width: 500px;
}

h3 {
	color: #FFF;
	font-family: Courier, monospace;
	margin-top: 40px;
	margin-bottom:20px;
	text-transform: capitalize;
}


.Aries {
	margin-top: 40px;
}

.Aries h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Aries span {
	color:#e3e3e3;
	font-size: 15px;
}




.Taurus {
	margin-top: 50px;
}

.Taurus h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Taurus span {
	color:#e3e3e3;
	font-size: 15px;
}




.Gemini {
	margin-top: 50px;
}

.Gemini h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Gemini span {
	color:#e3e3e3;
	font-size: 15px;
}




.Cancer {
	margin-top: 50px;
}

.Cancer h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Cancer span {
	color:#e3e3e3;
	font-size: 15px;
}




.Leo {
	margin-top: 50px;
}

.Leo h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Leo span {
	color:#e3e3e3;
	font-size: 15px;
}




.Virgo {
	margin-top: 50px;
}

.Virgo h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Virgo span {
	color:#e3e3e3;
	font-size: 15px;
}




.Libra {
	margin-top: 50px;
}

.Libra h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Libra span {
	color:#e3e3e3;
	font-size: 15px;
}




.Scorpio {
	margin-top: 50px;
}

.Scorpio h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Scorpio span {
	color:#e3e3e3;
	font-size: 15px;
}




.Sagittarius {
	margin-top: 50px;
}

.Sagittarius h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Sagittarius span {
	color:#e3e3e3;
	font-size: 15px;
}




.Capricorn {
	margin-top: 50px;
}

.Capricorn h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Capricorn span {
	color:#e3e3e3;
	font-size: 15px;
}




.Aquarius {
	margin-top: 50px;
}

.Aquarius h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Aquarius span {
	color:#e3e3e3;
	font-size: 15px;
}




.Pisces {
	margin-top: 50px;
	margin-bottom: 50px;
}

.Pisces h2 {
    color: #FFF;
	font-family: Typewriter, monospace;
	font-style: Bold;
	font-size: 25px;
}

.Pisces span {
	color:#e3e3e3;
	font-size: 15px;
/* } */