header, footer {
    background-color: #007196;
	padding: 1em;
	color: white;
	clear: left;
    text-align: center;
}

nav {
	float: right;
	width: 160px;
	height: 134px;
	padding: 1em;
	border: solid;
	border-color: #333;
}

nav ul {
	list-style: none;
	padding: 0;
}

ul a {
    text-decoration: none;
	padding-right: 10px;
    color: #C5BD99;
}

article {
	padding: 1em;
}

aside {
	float: right;
	width: 200px;
	background-color: #D3D3D3;
	padding: 20px;
	margin-right: 40px;
	font-size: 80%;
	font-style: italic;
	box-shadow: 3px 5px 3px 1px #7e563e;
	position: relative; top: -40px;
}